<div class="ctsearch-facet" id="ctsearch-facet-{{ facet_id|replace({'.': '_'}) }}">
    {% if facet.buckets is defined and facet.buckets|length > 0 %}
    <ul>
        {% for bucket in facet.buckets %}
            {% if bucket.remove_filter_url is not defined %}
                <li><a href="{{ bucket.filter_url }}">{{ bucket.key }} ({{ bucket.doc_count }})</a></li>
            {% else %}
                <li>{{ bucket.key }} ({{ bucket.doc_count }}) <a href="{{ bucket.remove_filter_url }}">X</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    {% if facet.see_more_url is defined %}
    <div>
        <a href="{{ facet.see_more_url }}" class="see-more">{{ "See more"|trans }}</a>
    </div>
    {% endif %}
</div>